<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f4.linkage.webserver.api.signup.mapper.ChangePasswdMapper">
  <update id="changePasswdByPhone" parameterType="java.lang.String">
    update linkage.user set password=#{newPasswd} where phoneNumber=#{phone}
  </update>
  <select id="getUserNameByPhone" parameterType="java.lang.String" resultType="java.lang.String">
    select username from linkage.user where phoneNumber=#{phone}
  </select>
</mapper>
