<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f4.linkage.webserver.api.login.mapper.UserMapper" >
  <select id="loadUserByUserName" resultType="com.f4.linkage.webserver.api.login.model.LoginUserInfo">
    select username,password,locked,enabled,id from linkage.user where username = #{username}
  </select>


  <select id="getUserRoleByUserId" resultType="com.f4.linkage.webserver.api.login.model.Role">
    select linkage.role.id, name
    from linkage.user join linkage.user_role on linkage.user.id = user_role.uid join linkage.role on user_role.rid = role.id
    where linkage.user.id = #{id}
  </select>

  <update id="changeTimeStamp">
    update linkage.user set lastLogIn=CURRENT_TIMESTAMP where username=#{username}
  </update>
  <select id="getUserSelfInfoByUsername" resultType="com.f4.linkage.webserver.api.login.model.UserSelfInfo">
    select description,sex,iconUrl,address,phoneNumber,username from linkage.user where username=#{username}
  </select>
  <update id="updateSelfInfo" parameterType="com.f4.linkage.webserver.api.login.model.UserSelfInfo">
    update linkage.user set description=#{description},sex=#{sex},address=#{address} where username=#{username}
  </update>
  <select id="getUserRoleByUsername" resultType="com.f4.linkage.webserver.api.login.model.Role">
    select linkage.role.id, name
    from linkage.user join linkage.user_role on linkage.user.id = user_role.uid join linkage.role on user_role.rid = role.id
    where linkage.user.username = #{username}
  </select>
</mapper>
